.wrapper {
  position: relative;
}

.whiteBack {
  position: absolute;
  background-color: #f8f9fa !important;
  height: 11em;
  width: 100vw;
}

.HomeDish {
  width: 100vw;
}

.searchBar {
  position: absolute;
  left: 30vw;
  top: 2vh;
  width: 40em;
}

.cooks {
  position: absolute;
  top: 105vh;
  left: 10vw;
  margin-left: 2em;
  width: 35vw;
}

.dishes {
  position: absolute;
  top: 105vh;
  left: 50vw;
  width: 35vw;
}
.working {
  width: 100vw;
  position: absolute;
  top: 200vh;
  height: 100vh;
}
