.wrapper {
  position: relative;
}

/* .whiteBack {
  position: absolute;
  background-color: #f8f9fa !important;
  height: 11em;
  width: 100vw;
} */

.HomeDish {
  width: 100%;
  height: 100%;
}

.searchBar {
  position: absolute;
  left: 30%;
  top: 5%;
  width: 40%;
}
/* 


.working {
  width: 100vw;
  position: absolute;
  top: 200%;
  height: 100vh;
} */
